
# .NET files
*.exe
*.pdb
*.dll
*.dll.config
*.user
*.suo
*.tmp
*.log
*.vspscc
*.vssscc
._*
*.csproj.user
*.cache
*.log
*.vsp
*.vspx
*.ncb
*.sdf

# Visual Studio files
.vscode/
.vs/
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/
TestResults/
*.swp
Tree/
